{% extends "base.html" %}

{% block main %}
<h1 class="display-5 fw-bold">Properties</h1>

<div class="container">
    <div class="row">
      {% for property in properties %}
      <img src="{{ url_for('photo', filename=property.photo) }}" class="card-img-top" alt="{{ property.photo.label }}">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ property.name }}</h5>
            <p class="card-text">{{ property.description }}</p>
          </div>
        </div>
        <a href="{{ url_for('view', propertyid=property.id) }}" class="btn btn-primary">View Property</a>
      </div>
      {% endfor %}
    </div>
  </div> 

{% endblock %}
